<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <section layout:fragment="content">

      <div class="container">
      <h2 th:text="#{home.theater.title}"></h2>
      <form class="form-inline mb-2" action="/" method="get">
        <div class="form-group">
          <label for="city-selector" th:text="#{home.theater.filter.label}"></label>
          <select class="form-control mx-3" name="city" id="city-selector">
            <option selected value="" th:text="#{home.theater.filter.show-all}"></option>
            <option th:each="city : ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary" th:text="#{home.theater.filter.submit}"></button>
      </form>
      <table class="table table-hover">
        <thead>
        <tr>
          <th th:text="#{home.theater.table.name}"></th>
          <th th:text="#{home.theater.table.cnpj}"></th>
          <th th:text="#{home.theater.table.city}"></th>
        </tr>
        </thead>
        <tbody>
        <!--   TODO: Mostrar mensagem de nenhum teatro encontrado   -->
        <tr th:each="theater : ${theaters}">
          <td th:text="${theater.name}"></td>
          <td th:text="${theater.cnpj}"></td>
          <td th:text="${theater.city.name}"></td>
        </tr>
        </tbody>
      </table>
  </div>
    </section>
</body>
</html>