<!DOCTYPE html>
<html layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
  <section layout:fragment="content">

    <div class="container">
      <h2 th:text="#{website.title}"></h2>
      <table class="table table-hover">
        <thead>
        <tr>
          <th th:text="#{website.table.name}"></th>
          <th th:text="#{website.table.email}"></th>
          <th th:text="#{website.table.url}"></th>
          <th th:text="#{website.table.phoneNumber}"></th>
          <th th:text="#{website.table.actions}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="website : ${websites}">
          <td th:text="${website.name}"></td>
          <td th:text="${website.email}"></td>
          <td th:text="${website.url}"></td>
          <td th:text="${website.phoneNumber}"></td>
          <td>
            <a class="btn btn-success" href="#">
              <i class="fas fa-edit"></i>
              <span th:text="#{website.table.action.edit}"></span>
            </a>
            <a class="btn btn-danger" href="#">
              <i class="fas fa-trash"></i>
              <span th:text="#{website.table.action.delete}"></span>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</body>
</html>